@import url('https://fonts.googleapis.com/css2?family=Estonia&family=IM+Fell+Great+Primer+SC&display=swap');
    *{
        margin:0;
        padding: 0;
        border: 0;
    }
    body {
background-color: rgb(190, 188, 211);
    }
    header {
        padding: 32px;
        border: 1px solid rgb(26, 28, 53);
        background-color: rgb(50, 54, 188);
    }
    header div {
        text-align: center;
    }
    header div a {
        color: aliceblue;
        font-size: 20px;
        line-height: 30px;
        margin: 0 16px;
        text-decoration: none;
        font-family: 'IM Fell Great Primer SC', sans-serif;
    }
header div a:hover {
    color: rgb(120, 179, 241);
    transition: color 500ms;

}

#box {
    text-align: center;
    padding: 32px;
    font-family: 'IM Fell Great Primer SC', sans-serif;
}

#box img {
    border-radius: 50%; 
    border: 7px solid rgb(0, 4, 245);
    margin-bottom: 32px;
    height:300px
}

#box h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#box p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
  }

  #box a {
    color:rgb(71, 66, 128);
  }

  #box a:hover {
    color:  rgb(0, 8, 254);
    transition: color 500ms;
  }

#linksFooter {
    padding-top: 32px;
    text-align: center;
  
}

#linksFooter a {
    color: rgb(71, 66, 128);
    font-family: 'IM Fell Great Primer SC';
    padding-top: 32px;
    font-size: 20px;
    border-bottom: 3px solid rgb(0, 4, 255);
    padding-bottom: 8px;
}

#linksFooter a:hover {
    color:  rgb(0, 8, 254);
    transition: color 500ms;
}

  
